
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 35%;
  background-color: rgb(235, 235, 235); 
  width: 100%;
}

.nav a:link {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}

.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  box-shadow: 3px 3px 3px 3px rgb(188, 188, 188);
}

.cardimg {
  border-radius: 5px;
}

.cardButton {
  background-color: rgb(235, 235, 235);
  color: black;
  border: 1px solid black;
  margin: 5%;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  
}

.meImg {
  width: 100%;
}

.akImg {
  max-width: 60%;
}

.justified {
  text-align: justify;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  margin-top: 8%;
}

@media screen and (max-width: 767px) {
    .setupper {
       order: -1;
}
}
