
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 35%;
  background-color: rgb(235, 235, 235); 
  width: 100%;
}

.nav a:link {
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}

.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.skillheader {
  background-color: rgb(171, 171, 171);
  color: rgb(253, 253, 253);
  margin-bottom: 10px;
  border-radius: 5px 5px 0 0;
}

.skillheader > img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 120px; /* limit height so it doesn't grow too big */
  object-fit: cover; /* crop/fill while preserving aspect ratio */
  border-radius: 5px 5px 0 0;
}

.skillheader > h3 {
  text-align: center;
  padding: 10px;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  box-shadow: 3px 3px 3px 3px rgb(188, 188, 188);
}

.cardimg {
  border-radius: 5px;
}

.cardButton {
  background-color: rgb(235, 235, 235);
  color: black;
  border: 1px solid black;
  margin: 5%;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  
}

.meImg {
  width: 100%;
}

.akImg {
  max-width: 60%;
}

.justified {
  text-align: justify;
}

ul {
  font-size: 1rem;
  margin: 10px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  margin-top: 8%;
}

@media screen and (max-width: 767px) {
    .setupper {
       order: -1;
}
}
